<!-- Start slides -->
    <div id="slides" class="cover-slides d-flex align-items-center justify-content-center">
        <div class="slides-container d-flex align-items-center justify-content-center">
            <img src="/assets/images/slider/slider-03.jpg" alt="Welcome header" class="img-fluid">
        </div>
        <div class="container-content">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center align-items-center text-center">
                    <h1 class="m-b-20 font-weight-bold"><strong>Welcome To <br> Yamifood Restaurant</strong></h1>
                    <p class="m-b-40"> The best place in town with the cheapest prices but also with quality food menu.</p>
                    <p><a class="btn btn-lg btn-circle btn-dark" href="/reservations">Make Reservation</a></p>
                </div>
            </div>
        </div>
    </div>
<!-- End slides -->