<!--// SubHeader \\-->
<div class="hotmeal-subheader">
    <span class="hotmeal-subheader-transparent"></span>
    <div class="hotmeal-subheader-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span>Error</span>
                    <h1>Error 404</h1>
                    <p>Sed vulputate elementum aliquam. Nunc vel efficitur ante. Ut gravida nulla id ornare sodales.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hotmeal-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="index-2.html">Homepage</a></li>
                        <li class="active">Error 404</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// SubHeader \\-->

<!--// Main Content \\-->
<div class="hotmeal-main-content">

    <!--// Main Section \\-->
    <div class="hotmeal-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hotmeal-error-page">
                        <div class="hotmeal-error-text">
                            <h2>404</h2>
                            <h3>Sorry ! Page Not Found</h3>
                            <p>The Link You Clicked Maybe Broken Or Page May have Been Removed</p>
                            <a href="/home" class="hotmeal-error-btn">
                                Back To Homepage <small></small>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="hotmeal-error-thumb">
                            <img src="/assets/images/error-thumb.png" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Main Section \\-->

</div>
<!--// Main Content \\-->